<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for @session do  |f| %>

<p>
    <%= f.label :email %>
    <%= f.text_field :email,value: "example@gmail.com" %>
</p>
<p>
    <%= f.label :password %>
    <%= f.password_field :password %>
</p>
<p>
    <%= f.submit  "Sign in" %>
</p>
<% end %>
